@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --Linear-gradient-active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red-input-errors: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);


}

body {
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-color: var(--white);
    display: flex;
    gap: 5%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

.left {
    width: 35%;
    position: relative;
}

.front-card {
    background-image: url(../images/bg-card-front.png);
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    border-radius: 3%;
    position: absolute;
    left: 70%;
    top: 20%;
    /*-name: example;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: alternate;
    */
}
/* @keyframes example {
    from{left: 70%;}    
    to{left: 100%;}
}
 */
.front-card .card-logo img {
    height: 25px;
}

.details {
    color: white;
    font-size: large;
}

.card-owner-info {
    display: flex;
    gap: 30%;
    color: white;
    margin-top: -10%;
}

.card-owner-name {
    text-transform: uppercase;
    font-size: 10px;
}

.card-date {
    font-size: 10px;
    margin-top: 5px;
}

.card-back {
    background-image: url(../images/bg-card-back.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 200px;
    border-radius: 3%;
    position: absolute;
    left: 80%;
    top: 60%;
}

.card-back p {
    position: relative;
    left: 62%;
    margin-top: 70px;
    color: var(--White);
}

.right {
    width: 50%;
    margin-left: 20%;
    margin-top: 12%;
}

fieldset {
    border: none;
}

label {
    text-transform: uppercase;
    margin-top: 80px;
}

input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid var(--Dark-grayish-violet);
}

.error {
    border: 2px solid var(--Red-input-errors);
}

.success {
    border: 2px solid green;
}

.flex {
    display: flex;
}

.flex-right {
    margin-left: -200px;
}

input::placeholder {
    opacity: 50%;
}

#card-exp-month {
    width: 15%;
}

#card-exp-year {
    width: 15%;
}

#card-cvc {
    width: 55%;
}

#confirm {
    margin-top: 20px;
    width: 53%;
    border-radius: 10px;
    padding: 15px;
    border: none;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    
}

.complete {
    display: none;
    width: 50%;
    margin-left: 15%;
    margin-top: 12%;
    text-align: center;
}

.thank {
    margin-top: 20px;
    width: 60%;
    border-radius: 10px;
    padding: 15px;
    border: none;
    background-color: var(--Very-dark-violet);
    color: var(--White);
}

.complete h3 {
    text-transform: uppercase;
}

.complete p {
    color: var(--Dark-grayish-violet);
}

@media only screen and (max-width: 768px) {
    body {
        gap: 0%;
    }

    .left {
        width: 40%;
    }

    .front-card {
        left: 45%;
        width: 80%
    }

    .card-back {
        left: 70%;
        width: 100%;
    }

    .card-back .card_back {
        left: 60%;
        margin-top: 43px;
    }

    .right {
        width: 55%;
    }

    input {
        width: 70%;
    }

    .flex-right {
        margin-left: -150px;
    }

    #confirm {
        margin-top: 20px;
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--white);
        flex-direction: column;
        font-weight: 500;
        height: 0px;
        overflow-x: hidden;
    }

    .front-card {
        background-size: 100%;
        width: 300px;
        padding: 5%;
        left: 12%;
        margin-top: 150px;
        height: 200px;
        position: absolute;
        z-index: 10;
    }

    .card-back {
        width: 350px;
        background-size: 100%;
        height: 250px;
        border-radius: 3%;
        position: absolute;
        left: 50%;
        margin-top: 20%;
    }

    .card-back .card_back {
        left: 80%;
        margin-top: 85px;
    }

    .details {
        margin-top: 10%;
    }

    .card-owner-info {
        margin-top: 10%;
    }

    .right {
        margin-top: 350px;
        width: 100%;
        margin-left: 40px;
    }

    input {
        width: 80%;
    }

    #confirm {
        margin-top: 20px;
        width: 80%;
    }

    .card-back p {
        left: 70%;
        margin-top: 45px;
    }

    .flex-right {
        margin-left: -200px;
    }

    .complete {
        margin-top: 350px;
        width: 100%;
        margin-left: 10px;
    }
}


@media only screen and (max-width: 375px) {
    .card-back {
        width: 280px;
        height: 150px;
        left: 50%;
        margin-top: 0%;
    }

    .front-card {
        width: 280px;
        left: 10%;
        margin-top: 100px;
        height: 200px;
        position: absolute;
    }
    .card-back .card_back {
        left: 75%;
        margin-top: 65px;
    }
    .right {
        margin-top: 300px;
        margin-left: 20px;
    }
    .flex-right {
        margin-left: -150px;
    }
    .complete {
        margin-top: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .card-back {
        width: 250px;
        height: 150px;
        left: 40%;
        margin-top: 0%;
    }

    .front-card {
        width: 250px;
        left: 10%;
        margin-top: 90px;
        height: 200px;
        position: absolute;
    }

    .card-back .card_back {
        left: 75%;
        margin-top: 58px;
    }
    .right{
         margin-top: 250px;
        margin-left: 20px;
    }
    .flex-right {
        margin-left: -110px;
    }
    .complete {
        margin-top: 250px;
    }
}